extends ../layout
include ../svgs/kalender

block content
    h1= title
    p #{title}

    +svg-kalender

    script.
        $(function () {

            const aantal = 66;

            $('.advent1').each(function (i, o) { // i is index en o is object
                let number = i / aantal;
                let rotation = 360 * number;
                let tl = gsap.timeline(); // create the timeline
                tl.to(o, {
                    transformOrigin: "right 20",
                    rotation: rotation,
                    duration: 0,
                    ease: 'none',
                    repeat: 0
                });
            });

            $('.advent2').each(function (i, o) { // i is index en o is object
                let number = i / aantal;
                let rotation = 180 + 360 * number;
                let tl = gsap.timeline(); // create the timeline
                tl.to(o, {
                    transformOrigin: "left 20",
                    rotation: rotation,
                    duration: 0,
                    ease: 'none',
                    repeat: 0
                });
            });

            $('#gezicht_links').each(function (i, o) { // i is index en o is object
                gsap.to(o, {
                    transformOrigin: "400 400",
                    rotation: 360,
                    duration: 60,
                    ease: 'none',
                    repeat: -1
                });
            });
            $('#gezicht_rechts').each(function (i, o) { // i is index en o is object
                gsap.to(o, {
                    transformOrigin: "400 400",
                    rotation: 360,
                    duration: 60,
                    ease: 'none',
                    repeat: -1
                });
            });
        });