circle.gezicht {
    fill:#ffffff;
    stroke:#000000;
    stroke-width:1;
    stroke-miterlimit:4;
    stroke-dasharray:none
}
path.op {
    fill:#ffffaa;
    stroke:#000000;
    stroke-width:1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}

body{
    background-image: url("kalender/background.png");
}