//- https://pugjs.org/api/express.html
doctype html
html
    head
        title= title
        link(rel='shortcut icon', href='/images/favicon.ico')
        script(type='text/javascript' src='/javascripts/jquery/jquery.min.js')
        link(rel='javascript', href='/javascripts/bootstrap/bootstrap.js')
        script(type='text/javascript' src='/javascripts/gsap/gsap.min.js')
        if query_path
          script(type='text/javascript' src='/javascripts/gsap/MotionPathPlugin.js')
        script(type='text/javascript' src='/javascripts/' + query_path + '/script.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        if query_path
          link(rel='stylesheet', href='/stylesheets' + query_path + '/style.css')
        script(type='text/javascript').
            gsap.registerPlugin(MotionPathPlugin);
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/')
                img.d-inline-block.align-top(src='/images/monstrans.png' width='30' height='30' alt='')
            div.collapse.navbar-collapse(id='navbarSupportedContent')
                div.navbar-nav
                    a.nav-item.nav-link.active(href='/') #{ msg.TITLE }
                        span.sr-only (current)
                    a.nav-item.nav-link(href='/viering/') #{ msg.EUCHARIST_TITLE }
                    a.nav-item.nav-link(href='/onze_vader/') #{ msg.OUR_FATHER_TITLE }
        block content
include version