extends ../layout

block content
    h1= title
    p #{title}

    Restore Christianity or place God the father back into man's rational calculations. E.g. De-secularize.
    Is that even possible? How did we get into this situation in the first place? Lets start with that.
    Post modern: characterized by: cultural relativeism, scientism, nihilism and romanticism.
    Intersectionality: will to power to individuals self actualizing with fake identities.

    Meaning crisis: John Vervaeke: bullshit and pseudo religions.
    Meaning crisis definitie en symptomen

    Suggereert uitweg: zelf transformatie door onderwerpen wil-aan-vlees net de reden aan iets hogers.
    Not Will to power or remove the will to make room for God? Platonic transcendance for love of God; by reason and aided by the Holy Spirit.
    You cannot achieve Christinanity without God.

    Worldview
    - narrative = held
    - nomological
    - normative

    transformaties: de held. Eeuwig brood en water dat altijd de dorst lest.
    Versus: comumse product, next product. Intersectionaliteit: zelfopoffering zonder vergeving. Geen redemption.

    agency, self actualization, will to God, love/agapy. A trancendant love
