extends ../layout

block content
    h1= title
    p #{title}

    upper Paleolithic


    Project - throwing
    Object - throwing against
    Subject - throwing under
    Substance - stands under
    Stress events - ~40000 individuels
    Technology: increase social networks. Start trading. Exchange solutions, arts, trading rituals for strangers outside groups.
    Marriage, hand shaking ( no weapons, sense). Mindset: pickup on other mental state / own mental state.
    Loyality = temptation from the stranger. Initiation rituals. Marriage. Risk, threats, sacrifice. pain & fear shows commitment
    Decentering = trust, non-ecocentric commitment onm group.

    Exaptation: e.g. tongs for tast - tongs to speak. Reusage/changes for different purpose.
    Shamanic rituals. Exaptation of cognitive ability. Brein in andere staat brengen. Wakker maken. E.g. Participatory knowing: becoming the deer
    Psychotechnology: technology is a physical tool outside body that fits the body.
    Psychot. fits the brain. E.g. writing. Organises information. E.g. tekst/drawing on a body to forget/remember later.
    Connectins own brain and others.
    Technologie vergroot bereik van brein. Tweezijdig: patronen helpen het brein; maar voorkomen nieuwe inzichten.

    Flow experience/flow state: cascade of insights. Where reality and agent react upon eachother. Implicit learning:
    - clear information
    - tightly coupled feedback
    - error matters = learning
    flowstate enhances cognition. Exploring for new patters -> pattern detected -> implicit learning -> feedback control

    Metaphore: to bridge / connect over.
    Shaman connects area's of the brain. Metaphore connects ideas in art, science... generators of metaphore

    Cities, agriculture
    ~800 BCE axial revolution
    alphabetical writing
    metacognition
    second order thinking. Psychotechnology improved capacity to examine and correct own thinking.
    Money
    Numeracy
    Awareness of self transcendance & self deceptance
    Own responsibility. Mind as the chief thing: enemy & ally. Wisdom and folly.

    Illusianary world -> wisdom -> Real world
    Keiros: the right time to act. Turning point. SOmethng is learned or solved. (In Christianity this is Jesus).
    Myth: story about perrenial patterns
    God changes from a specific power and function, to a purpose.
    Da'at / faith = knowing where you go. On course. Knowing what to do.
    Sin: off course, self deceptive.
    Prophet: telling forth. Wake you up right now about the way you are off course.
    Transformative knowing. Wake up to moral responsibility.
    On a journey.
    Progress. God of the open future.
    Cognitive fluency. Degree of ease to process information. More fluency -> flowstate
    Greeks:" psychot. mathematics. Logical, rational argumentation becomes stricter.
    Pythagoras: phila sophia
    The divine man / Pythagoras. Cosmos (cosmetics). Beautiful and ordered. Accessable shaman iontegrated with music, mathematical thinkingh
    Things move by love

    Socrates: Gods are moral exemplars. Truth & sacratness are bound.
    know thyself: how do you operate? self knowledge. Socrates is not wise surely. Dillema
    Interacts with philosophers: sophists & natural philosophers.
    natural philosophers: Thalis (alles is vocht. De laadsteen heeft psyche). Alles is gevuld met goden.)
    Thalis wetenschappelijke benadering -> alles is vocht. psyche beweegt dingen.
    Psyche: capaciteit voor bewegen van self en ding. Begin van alle beweging. Ontological depth perception (gods behind being)
    Awe / wonder -> most sense of things
    Anaxagoras
    Natural philosophers niet interessant: give truth without wisdom. No existerntial relevance.
    Sophist: more antagonistics. Sophist + democracy = route to power. Rethoric for mind changes. Power > truth.
    On Bullshit. Deceptive. Salience as a distraction from.truth. Separation truth and relevance.
    You can not lie to yourself about your belief. You can bullshit yourself.
    Socrates wants: reason and love together. Rationally know what to most case about. A life without introspection is not worth living.

    Plato: integreates Pythagoras ontology and Socrates episemooogy
    Two worlds. Plato: psychological theory. Three elements in psyche:
      head = reason = motivated true / false = goals/scope / abstract entities. Long term goals E.g. I should loose weight -> healthy
      stomage = monster (appetites)_ Motivates pleasure/pain / immediate goals / salience preceeds understanding
      chest = lion: STATUS (thymos). Honor and shame (social). Mid term. Shared goals. Shared information.
    Hebrews is historical: now to the future.
    Discounting: reducing salience. Mind is abstracting future.
    Man can use socratic method to tame the monster and lion Internal justice withon the psyche = wisdom.
    Reducing innter congflict. Picking up real patterns.
    train maind -> grasp patterns -> realization/wisdomw -> socratic self knowledge -> teach man/transformation -> train lion/tame monster -> reduce ionnter conflict -> vision of reality improves ->
    anagoge
    form/idea/logos : structural functional organisation. Intuitive grasph.
    gestalt
    To know the thing it to con form (  in th mind ).

    Aristotle:
    form/eidos -> events + information -> actuality
    - living things -> self actualization
    - things -> by others. The BE CAUSE
        Events -> structure -> changes to select events -> feeds structure: E1->C1->E2->C2->E3->C3
        C = enablingh constraint en selective constrains

        virtual machine: a machine of good habits. Zelf organizing/self making. WISDOM.
    See virtue in the 12 century view.
    rubble -> plant -> animal -> rational -> person -> character -> human.
    inorganic matter => living things => self-moving things => mental things => rational things.
    to know is to conform: CON FORM = internalize the eidos in the mind and interact with it: contact Epistemology.
    Participate constrasted to descriptive knowing.
    1. Clear senses
    2. Optimal environment
    3. Other people experience
    worldview: knowing how to know (epistemology) and being (ontology).
    agent (cognitive)-> arena (being)
    Existential mode: co identifiying agent and arena. Co herent functioning word view. Virtue
    Worldview attunement -> football player in football ground
    Meaning crisis: absurt existent. Not in attunement: tennisplayer in football field.
    1. understanding the world
    2. trying to fit in this world also.

    NOMOLOGICAL ORDER (LAW); integration of Cosmos/Being and our explanations of it (law); and live within it.

    Palace: existential mode of having. Categorizing, control, have.
    Being: process, to be come. Agape. Reciprocity relationship. Process. CON with the FORM os reality.
    disillusionment - loss of illusion. Opening up wisdom.

    DIS

Two existential modes:

having mode	being mode
categorical    expressive
control, manipulation	reciprocal realization
I-it    I-thou
intelligence    reason
solving problems	making meaning
e.g. having sex	e.g. being in love
MODAL CONFUSION is trying to satisfy our being needs in the having mode.
SELLING having trhings with being mode ! SELF INDULGENCE
Self-denial is the negation of self-indulgence, but still having mode. Too tight is just as bad as too loose.
Aristelian mean? self-indulgence (static) --------  remember sati/the being mode    ---------- self denial (still having nothing is a having mode)
This is when Siddhārtha discovers the middle path: to transcend the having mode by rejecting both self-indulgence and self-denial.

    And god limits the options and has the eidos of us and creation !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    But the pursuit of love allowes us choice. And that choice cab lerad to yunwise disitions.


    Hellenistic meaning crisis: domocide
    Platonic/Aristotelian/Socrates: Wisdom
    Therapeutic: philosopher is the Physician of the soul.
    Epicurians: SUFFERING is caused by ANXIETY = fear plus out of control imagination.
    E.g. dying -> afraid of that loosing that is good/pleasure. Hence, pay attention to what gives the most meaning?
    Most meaning (socrates) is friendships/relationships and philosophical friendships. Gods are irrelevant.
    “Is God willing to prevent evil, but not able? Then he is not omnipotent.
    Is he able, but not willing? Then he is malevolent.
    Is he both able and willing? Then whence cometh evil?
    Is he neither able nor willing? Then why call him God?”
    Maar sterfelijkheid has always been here.

    Stoicism: ancestor current forms psychotheraphy.
    Anthestemis: internalized Socratic dialog/con front agion.

    Cynic: man made things are temporary. Natural law is eternal. Moral laws (guilt) and purity laws (shame).
    Purity codes (disgust/guilt) are used by society to conform; and moral law (Reason and circumstance).
    You can maintain purity codes, but break moral codes. Realize
    Diogenes: confrontation. Provocative. Aporia. Shock. Disregard of purity and moral codes compared to reality (corruption).
    Looking for honesty / masturbation market place ( dishonesty ). Dominide is an experience of setting heart on temporal
    man made things. Laws of the natural law are eternal. Man made cultural institutions will degrade.

    Zeno of Citium: Stoicism
    CO IDENTIFICATION / agent and arena / person and being. Forcus on the process of knowing as social beings.


    Question: is an ideology a psycho technology?
    The soviet union repressed christianity. But it never went away. Communism was imposed
    Not so in thw West, where it did. Communism/neo-fascism is seeded in the void.



    Living water

    What do you offer people? How did we get here in the first place? What is the problem and is religion viable?
    What water and food could we eat and drink and never be hungry again?
    Are the crops ripe again for another harvest?

    What if you combine a Jordan Peterson talk with a Baptismal? Why did we not?

    Restore Christianity or place God the father back into man's rational calculations. E.g. De-secularize.
    Is that even possible? How did we get into this situation in the first place? Lets start with that.
    Post modern: characterized by: cultural relativeism, scientism, nihilism and romanticism.
    Intersectionality: will to power to individuals self actualizing with fake identities.

    Meaning crisis: John Vervaeke: bullshit and pseudo religions.
    Meaning crisis definitie en symptomen

    Suggereert uitweg: zelf transformatie door onderwerpen wil-aan-vlees net de reden aan iets hogers.
    Not Will to power or remove the will to make room for God? Platonic transcendance for love of God; by reason and aided by the Holy Spirit.
    You cannot achieve Christinanity without God.

    agent en arena

    Worldview
    - narrative = held die een transformatie ondergaat met deugden en hulp. Is vervangen met held als consumptie:
    - bij sde held is er eebn leveling up door attonement en verrijking en tegenslag. Bij de modernistische varianeten is dat de samenleving,
      en beloftes die niet uitkomen. Hedendaagste managers en politici.
    - nomological
    - normative

    afbraak wereldbeeld:
     - nood voor religie technologische innovaties -> rijke man gevaar. Rol god nog nodig?
      - afbraak Aristoteles
      - Luther, nominalisme, geen natuurwet
      - wil en macht: Machiabelli
      -

    transformaties: de held. Eeuwig brood en water dat altijd de dorst lest.
    Versus: consumptie product, next product. Intersectionaliteit: zelfopoffering zonder vergeving. Geen redemption.

    agency, self actualization, will to God, love/agapy. A trancendant love
