mixin svg-kalender()
svg(id="canvas" width="1122.5197" height="1587.4016" version="1.1")
  defs
    style(type="text/css")
  g(id="canvas")
    circle(class="gezicht" id="gezicht" cx="400" cy="400" r="400")
    g(id="advent")
      g(class="advent" id="advent_1e_zondag")
        rect(class="op" width="390" height="40" x="10" y="380")
        text(font-size="44px" fill="#0000ff" x="33.783836" y="407.41388" style="font-size:26.6667px;fill:#000000")
        rect(class="onder" width="390" height="40" x="400" y="380")
      g(class="advent" id="advent_2e_zondag")
        rect(class="op" width="390" height="40" x="10" y="380")
        text(font-size="44px" fill="#0000ff" x="33.783836" y="407.41388" style="font-size:26.6667px;fill:#000000")
        rect(class="onder" width="390" height="40" x="400" y="380")
      g(class="advent" id="advent_3e_zondag")
        rect(class="op" width="390" height="40" x="10" y="380")
        text(font-size="44px" fill="#0000ff" x="33.783836" y="407.41388" style="font-size:26.6667px;fill:#000000")
        rect(class="onder" width="390" height="40" x="400" y="380")
      g(class="advent" id="advent_4e_zondag")
        rect(class="op" width="390" height="40" x="10" y="380")
        text(font-size="44px" fill="#0000ff" x="33.783836" y="407.41388" style="font-size:26.6667px;fill:#000000")
        rect(class="onder" width="390" height="40" x="400" y="380")
